<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>REST Servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.scalabilitycookbook.services</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>liquibase.changelog</param-name>
    <param-value>schema/master.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.scalabilitycookbook.DatabaseServletListener</listener-class>
  </listener>

</web-app>
